.brand-color{
  color: #a07272;
}
.brand-color:hover{
  color: #fff
}
.underline{
  height:1px;
  width:200px;
  border-radius:10px;
  border:2px solid #a07272;
  margin :auto;
}
.btns{
  margin-top:20px;
  
}
.btn:hover{
  background-color: #a07272;
}
.img{
  width: 150px;
  height: 150px;
}
.my-card{
  background-color: #eee;
  border: 1px solid #000;
  margin: 15px 0px;
}